@import 'tailwindcss';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply dark:bg-slate-900 bg-amber-100;
}



@layer components {
    .content-container {
        box-shadow: 5px 5px 1px 0 black;
    }

    .hovered-container:hover {
        box-shadow: 1px 1px 1px 0 black;
    }

}